<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница Мероприятия</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/event.css">
</head>

<body>
    <header class="header">
        <nav>
            <ul class="header__list">
                <li class="header__logo">
                    <a target="_blank" href="/templates/index.html"><img src="/static/img/logo.png" alt=""></a>
                </li>
                <li class="header__link elements">
                    <img src="/static/img/linklogo.png" alt="">
                    <a href="/templates/courses.html">Все курсы</a>
                </li>
                <li class="header__link"><a target="_blank" href="/templates/events.html">Мероприятия</a></li>
                <li class="header__link"><a target="_blank" href="/templates/news.html">Новости</a></li>
                <li class="header__link"><a target="_blank" href="/templates/jobs.html">Карьера</a></li>
                <li class="header__link elements">
                    <div class="wrapper">
                        <nav class="wrapper__menu">
                            <ul class="menu__list">
                                <li class="menu__link">
                                    <img src="/static/img/geolink.png" alt="">
                                    <a class="link__line" href="">Бишкек</a>
                                    <img src="/static/img/Vector 197.png" alt="">
                                    <ul class="sub-menu__list">
                                        <nav class="sub__menu shabow">
                                            <li class="sub-menu__link">
                                                <input type="radio" id="bishkek" value="bishkek" name="drone" checked>
                                                <label for="bishkek">Бишкек</label>
                                            </li>
                                            <li class="sub-menu__link">
                                                <input type="radio" id="on-line" value="on-line" name="drone">
                                                <label for="on-line">On-line</label>
                                            </li>
                                        </nav>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </li>

                <li class="header__link"><a target="_blank" href="/templates/contacts.html">8 800 950-33-98 </a></li>
                <li class="header__link elements">
                    <img src="/static/img/user.png" alt="">
                    <a target="_blank" href="/templates/entrance.html">Войти</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="main__content">
            <div class="main__gr">
                <h1 class="main__logo">Название мероприятия</h1>
                <p class="main__sign">Подпись к названию</p>
            </div>

            <div class="main__columns">
                <div class="main__column">
                    <hr>
                    <p class="main__t">Узнайте самые востребованные профессии, на которые более 113 тысяч вакансий
                    </p>
                </div>
                <div class="main__column">
                    <hr>
                    <p class="main__t">Выберите подходящую именно для вас
                    </p>
                </div>
                <div class="main__column">
                    <hr>
                    <p class="main__t">Сделайте первые шаги к возможности выйти на доход более
                        100 тысяч рублей
                    </p>
                </div>
            </div>
            <p class="main__label">Запишись сейчас</p>
            <form action="" target="_blank">
                <button class="main__btn">Записаться на интенсив</button>
            </form>
        </div>
        <div class="main__img">
            <img src="/static/img/shutterstock_1709750299 (2).png" alt="">
        </div>
    </main>

    <section class="orientation">
        <div class="ornt__sova">
            <div class="ornt__content">
                <p class="ornt__cont">Текст, призывающий записаться <br> на мероприятие</p>
            </div>
            <img src="/static/img/sova-1.png" alt="">
        </div>

        <div class="ornt__columns">
            <div class="ortn__column">
                <img src="/static/img/cross (2).png" alt="">
                <p class="ornt__logo">Заголовок</p>
                <p class="ornt__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi elit, egestas ut
                    feugiat id, laoreet volutpat risus. Cras condimentum, ligula eget</p>
            </div>
            <div class="ortn__column">
                <img src="/static/img/circle.png" alt="">
                <p class="ornt__logo">Заголовок</p>
                <p class="ornt__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi elit, egestas ut
                    feugiat id, laoreet volutpat risus. Cras condimentum, ligula eget</p>
            </div>
            <div class="ortn__column">
                <img src="/static/img/triangle (2).png" alt="">
                <p class="ornt__logo">Заголовок</p>
                <p class="ornt__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi elit, egestas ut
                    feugiat id, laoreet volutpat risus. Cras condimentum, ligula eget</p>
            </div>
        </div>
    </section>

    <section class="slider">
        <div class="slider__logo">Мероприятие проводят</div>
        <div class="slider__group">
            <div class="slider__item">
                <div class="slider__card">
                    <div class="slider__photo">
                        <div class="slider__allipse">
                            <img src="/static/img/Ellipse(2) 185.png" alt="">
                        </div>
                    </div>
                    <div class="slider__content">
                        <p class="slider__title">Имя Фамилия</p>
                        <p class="slider__t">Выпускница Гарвардского Университета.
                            Более 10 лет играет в шахматы
                            и участвует в турнирах.</p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__card">
                    <div class="slider__photo">
                        <img src="/static/img/Ellipse(2) 185.png" alt="">
                    </div>
                    <div class="slider__content">
                        <p class="slider__title">Имя Фамилия</p>
                        <p class="slider__t">Выпускница Гарвардского Университета.
                            Более 10 лет играет в шахматы
                            и участвует в турнирах.</p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__card">
                    <div class="slider__photo">
                        <img src="/static/img/Ellipse(2) 185.png" alt="">
                    </div>
                    <div class="slider__content">
                        <p class="slider__title">Имя Фамилия</p>
                        <p class="slider__t">Выпускница Гарвардского Университета.
                            Более 10 лет играет в шахматы
                            и участвует в турнирах.</p>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__card">
                    <div class="slider__photo">
                        <img src="/static/img/Ellipse(2) 185.png" alt="">
                    </div>
                    <div class="slider__content">
                        <p class="slider__title">Имя Фамилия</p>
                        <p class="slider__t">Выпускница Гарвардского Университета.
                            Более 10 лет играет в шахматы
                            и участвует в турнирах.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="gallery__title">
            <div class="gallery__t">
                <p class="gallery__logo">Фотографии с прошлых мероприятий</p>
                <p class="gallery__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi elit, egestas
                    ut
                    feugiat id, laoreet volutpat risus <br>. Cras condimentum, ligula eget varius eleifend, massa nibh
                    imperdiet
                    est, vel sagittis quam justo.</p>
            </div>
        </div>
        <div class="gallery__slide">
            <img src="/static/img/unsplash_gsRi9cWCIB0.png" alt="">
            <img src="/static/img/unsplash_gsRi9cWCIB0.png" alt="">
            <img src="/static/img/unsplash_gsRi9cWCIB0.png" alt="">
            <img src="/static/img/unsplash_gsRi9cWCIB0.png" alt="">
        </div>
    </section>

    <section class="form">
        <img src="/static/img/Сова-01 2.png" alt="">
        <div class="form__window">
            <p class="form__logo">Помочь с выбором?</p>
            <p class="form__content"> Оставьте заявку и наши специалисты свяжутся с вами, ответят на все вопросы
                и подберут подходящий вариант обучения.</p>
        </div>
        <div class="form__forms">
            <form action="/submit" method="post">
                <input class="form__name" type="text" id="name" name="name" required placeholder="Ваше имя">
                <div class="form__gr">
                    <input class="form__tel" type="tel" name="tel" id="tel" required placeholder="Ваш телефон">
                    <input class="form__email" type="email" name="email" id="email" required placeholder="Ваш e-mail">
                </div>
                <div class="form__gr">
                    <p>Нажимая на кнопку, я соглашаюсь
                        на обработку персональных данных
                        и с правилами пользования Платформой</p>
                    <button class="form__btn">Отправить</button>
                </div>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__row">
            <img src="/static/img/Group 802.png" alt="">
            <p class="footer__number">8 800 950-33-98 </p>
            <p class="footer__address">г. Москва, ул. Ленина, д. 50</p>
            <p class="footer__email">info@hodfutureacademy.ru</p>
            <div class="footer__social">
                <img src="/static/img/vk.png" alt="">
                <img src="/static/img/inst.png" alt="">
                <img src="/static/img/fbook.png" alt="">
                <img src="/static/img/youtude.png" alt="">
                <img src="/static/img/tg.png" alt="">
            </div>
            <p class="footer__prava">© ХОД, Future Academy</p>
        </div>

        <div class="footer__item">
            <div class="footer__logo">Детям</div>
            <div class="footer__items">
                <p>Робототехника</p>
                <p>Создание игр</p>
                <p>Программирование</p>
                <p>Мультимедиа</p>
                <p>Soft skills</p>
                <p>Шахматы</p>
                <p>Блогинг</p>
                <p>Создание игр</p>
                <p>Программирование</p>
                <p>Мультимедиа</p>
                <p>Soft skills</p>
            </div>
        </div>
        <div class="footer__item">
            <div class="footer__logo">Подросткам</div>
            <div class="footer__items">
                <p>Web-разработка</p>
                <p>Прикладное программирование</p>
                <p>Графическое моделирование</p>
                <p>Game Development</p>
                <p>Soft skills</p>
                <p>Разработчик мобильных приложений</p>
                <p>Блогинг</p>
                <p>Создание игр</p>
                <p>Программирование</p>
                <p>Мультимедиа</p>
                <p>Soft skills</p>
            </div>
        </div>
        <div class="footer__item">
            <div class="footer__logo">Взрослым</div>
            <div class="footer__items">
                <p>Разработчик игр на Unity</p>
                <p>Разработка ПО</p>
                <p>Графический Дизайн</p>
                <p>Тестировщик ПО</p>
                <p>Интернет Маркетинг</p>
                <p>Java-разработчик</p>
                <p>Python–разработчик</p>
                <p>Создание игр</p>
                <p>IOS-разработчик</p>
                <p>Программирование</p>
            </div>
        </div>
        <div class="footer__item">
            <div class="footer__logo">Информация</div>
            <div class="footer__items">
                <a href="#">Об академии</a>
                <a href="/templates/events.html">Мероприятия</a>
                <a href="/templates/news.html">Новости</a>
                <a href="#">База знаний</a>
                <a href="#">Карьера</a>
                <a href="#">Контакты</a>
            </div>
        </div>
    </footer>
</body>

</html>