<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/registration.css">
    <link rel="stylesheet" href="/static/entrance.css">
</head>

<body>
    <header class="header header__blue">
        <nav>
            <ul class="header__list">
                <li class="header__logo">
                    <a href="/templates/index.html"><img src="/static/img/Group 1.png" alt=""></a>
                </li>
                <li class="header__link elements">
                    <img src="/static/img/llogo.png" alt="">
                    <a href="/templates/courses.html">Все курсы</a>
                </li>
                <li class="header__link"><a target="_blank" href="/templates/events.html">Мероприятия</a></li>
                <li class="header__link"><a target="_blank" href="/templates/news.html">Новости</a></li>
                <li class="header__link"><a target="_blank" href="/templates/jobs.html">Карьера</a></li>
                <li class="header__link elements">
                    <div class="wrapper">
                        <nav class="wrapper__menu">
                            <ul class="menu__list">
                                <li class="menu__link">
                                    <img src="/static/img/geo.png" alt="">
                                    <a class="link__line" href="">Бишкек</a>
                                    <img src="/static/img/Vector 197.png" alt="">
                                    <ul class="sub-menu__list">
                                        <nav class="sub__menu shabow">
                                            <li class="sub-menu__link">
                                                <input type="radio" id="bishkek" value="bishkek" name="drone" checked>
                                                <label for="bishkek">Бишкек</label>
                                            </li>
                                            <li class="sub-menu__link">
                                                <input type="radio" id="on-line" value="on-line" name="drone">
                                                <label for="on-line">On-line</label>
                                            </li>
                                        </nav>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </li>

                <li class="header__link"><a target="_blank" href="/templates/contacts.html">8 800 950-33-98 </a></li>
                <li class="header__link elements header__line">
                    <img src="/static/img/us.png" alt="">
                    <a target="_blank" href="/templates/registration.html">Войти</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="main__main">
            <div class="main__group-logo">
                <div class="main__gr-l">
                    <a href="/templates/entrance.html" class="main__logo">Вход</a>
                    <hr>
                </div>
                <div class="main__gr-l">
                    <a href="" class="main__logo" target="_blank">Регистрация</a>
                    <hr class="main__hr">
                </div>
            </div>
        </div>
        <article class="main__form">
            <form action="/submit">
                <input class="form__name" type="text" id="name" name="name" required placeholder="Поле ввода">
                <input class="form__name" type="text" id="name" name="name" required placeholder="Поле ввода">
                <input class="form__name" type="text" id="name" name="name" required placeholder="Поле ввода">
            </form>
        </article>
        <div class="main__social">
            <p class="main__logo-soc">Войти с помощью соцсетей:</p>
            <div class="main__social-gr">
                <img src="/static/img/vk (2).png" alt="">
                <img src="/static/img/inst (2).png" alt="">
                <img src="/static/img/facebook.png" alt="">
                <img src="/static/img/yout.png" alt="">
                <img src="/static/img/tlg.png" alt="">
            </div>
        </div>
        <article class="main__form">
            <form class="main__form-btn" action="">
                <button class="main__form-btn">Войти</button>
            </form>
        </article>
    </main>

    <section class="form">
        <img src="/static/img/Сова-01 2.png" alt="">
        <div class="form__window">
            <p class="form__logo">Помочь с выбором?</p>
            <p class="form__content"> Оставьте заявку и наши специалисты свяжутся с вами, ответят на все вопросы
                и подберут подходящий вариант обучения.</p>
        </div>
        <div class="form__forms">
            <form action="/submit" method="post">
                <input class="form__name" type="text" id="name" name="name" required placeholder="Ваше имя">
                <div class="form__gr">
                    <input class="form__tel" type="tel" name="tel" id="tel" required placeholder="Ваш телефон">
                    <input class="form__email" type="email" name="email" id="email" required placeholder="Ваш e-mail">
                </div>
                <div class="form__gr">
                    <p>Нажимая на кнопку, я соглашаюсь
                        на обработку персональных данных
                        и с правилами пользования Платформой</p>
                    <button class="form__btn">Отправить</button>
                </div>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__row">
            <img src="/static/img/Group 802.png" alt="">
            <p class="footer__number">8 800 950-33-98 </p>
            <p class="footer__address">г. Москва, ул. Ленина, д. 50</p>
            <p class="footer__email">info@hodfutureacademy.ru</p>
            <div class="footer__social">
                <img src="/static/img/vk.png" alt="">
                <img src="/static/img/inst.png" alt="">
                <img src="/static/img/fbook.png" alt="">
                <img src="/static/img/youtude.png" alt="">
                <img src="/static/img/tg.png" alt="">
            </div>
            <p class="footer__prava">© ХОД, Future Academy</p>
        </div>

        <div class="footer__item">
            <div class="footer__logo">Детям</div>
            <div class="footer__items">
                <p>Робототехника</p>
                <p>Создание игр</p>
                <p>Программирование</p>
                <p>Мультимедиа</p>
                <p>Soft skills</p>
                <p>Шахматы</p>
                <p>Блогинг</p>
                <p>Создание игр</p>
                <p>Программирование</p>
                <p>Мультимедиа</p>
                <p>Soft skills</p>
            </div>
        </div>
        <div class="footer__item">
            <div class="footer__logo">Подросткам</div>
            <div class="footer__items">
                <p>Web-разработка</p>
                <p>Прикладное программирование</p>
                <p>Графическое моделирование</p>
                <p>Game Development</p>
                <p>Soft skills</p>
                <p>Разработчик мобильных приложений</p>
                <p>Блогинг</p>
                <p>Создание игр</p>
                <p>Программирование</p>
                <p>Мультимедиа</p>
                <p>Soft skills</p>
            </div>
        </div>
        <div class="footer__item">
            <div class="footer__logo">Взрослым</div>
            <div class="footer__items">
                <p>Разработчик игр на Unity</p>
                <p>Разработка ПО</p>
                <p>Графический Дизайн</p>
                <p>Тестировщик ПО</p>
                <p>Интернет Маркетинг</p>
                <p>Java-разработчик</p>
                <p>Python–разработчик</p>
                <p>Создание игр</p>
                <p>IOS-разработчик</p>
                <p>Программирование</p>
            </div>
        </div>
        <div class="footer__item">
            <div class="footer__logo">Информация</div>
            <div class="footer__items">
                <a href="#">Об академии</a>
                <a href="/templates/events.html">Мероприятия</a>
                <a href="/templates/news.html">Новости</a>
                <a href="#">База знаний</a>
                <a href="#">Карьера</a>
                <a href="#">Контакты</a>
            </div>
        </div>
    </footer>
</body>

</html>